body{
    padding-top: 100px;
    background-image: url("food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: gray;
    padding-top:140px;
    padding-left:110px;
}
